/* Вся страница */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: 1fr;
}

/* Общее оформление ссылок */
a {
    text-decoration: none;
}

/* Общее оформление списков */
li {
    list-style-type: none;
}

/* Шапка */
.hd {
    background-color: white;
}

/* Навигация */
.nav {
    display: grid;
    margin-top: 5vh;
    grid-template-columns: minmax(max-content, 1fr);
    grid-template-rows: 1fr 3fr 1.5fr;
    align-items: space-between;
    justify-content: space-around;
    text-align: center;
}

/* Верх меню */
ul.menu1 li {
    margin-bottom: 5vh;
}


/* Кнопка О */
.o {
    padding: 0.75vh 0.75vw 0.75vh 0.75vw;

    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;

    background: #5E81F4;
    border-radius: 12px;
}

/* Шрифты шапки */
.ohara,
.join,
.menu2,
.menu3,
.main {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

/* Вес шрифтов */
.ohara,
.join {
    font-weight: 600;
}

.menu2 {
    text-align: start;
}

.menu__link {
    font-weight: 500;
    color: #8DA1B5;
}

/* Охара */
.ohara {
    padding: 0.75vh 0.75vw 0.75vh 0.75vw;

    font-size: 22px;
    color: #5E81F4;
}

/* Кнопка JOIN COURSE  */
.join {
    padding: 1vh 2vw 1vh 2vw;

    color: white;
    background-color: #5E81F4;
    border-radius: 10px;
}

/* Отступы в ссылках меню */
ul.menu2 li {
    margin-bottom: 4vh;
    letter-spacing: 0.1rem;
}

/* Ссылки меню при наведении */
.menu__link:hover {
    color: black;
}

/* Меню апгрейда */
.menu3 {
    width: 80%;
    height: 90%;
    margin: auto;

    text-align: center;

    background: #F5F5FB;
    border-radius: 12px;
}

.upgrade__to {
    margin-bottom: 2rem;

    font-weight: 500;
    font-size: 16px;
    color: #778DAD;
    text-align: center;
}

.upgrade {
    padding: 1vh 2vw 1vh 2vw;
    color: white;

    background: #5E81F4;
    border-radius: 10px;
}

/* Картинка папки */
.frame {
    position: relative;
    top: -50px;
}

/* Основная часть */
.main {
    padding: 6vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 5vh 1fr 1fr;
    align-items: start;
    justify-content: space-around;
    align-items: space-around;
    row-gap: 1.5rem;
    column-gap: 1.5rem;

    font-family: 'Inter', sans-serif;

    background-color: #F5F5FB;
}

/* Строка поиска */
.srch__bar {
    width: 100%;
    height: 5vh;

    font-size: 15px;
    line-height: 18px;
    align-items: center;

    color: black;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
}

/* Колокольчик */
.bell {
    padding-top: 0.5em;
    text-align: end;
}

/* Все курсы */
.all__courses {
    font-weight: bolder;
    font-size: 28px;
    line-height: 34px;

    color: black;
}

/* Отображение правого списка ссылок */
.li {
    display: inline;
    margin-left: 4rem;
}

/* Расположение правых ссылок */
.right {
    text-align: end;
}

/* Цвет правых ссылок */
.right__link {
    color: rgba(118, 132, 146, 0.8);
}

/* Псевдоэлемент правых ссылок */
.right__link:hover {
    color: #5E81F4;
    border-bottom: 2px solid #5E81F4;
}

/* Размеры фоновых картинок */
.ui__ux,
.photo,
.animation {
    width: 100%;
    height: 100%;

    padding: 20px;

    color: white;

    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* Раздел UI/UX Design */
.ui__ux {
    /* Размещение в main */
    grid-column: 1 / 3;

    /* Свой грид */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    column-gap: 5rem;
    justify-items: space-around;

    padding-top: 2vh;
    padding-bottom: 5vh;

    background-image: url("../images/ui.png");
    background-color: #6B8DE7;
}

.text__ui {
    grid-column: 1 / 3;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.lessons {
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.8;
}

.time {
    padding-right: 2rem;
    text-align: end;
    opacity: 0.8;
}

.teacher {
    text-align: end;
    padding-right: 2rem;
}

/* Раздел Photography */
.photo {
    /* Размещение в main */
    grid-column: 1 / 2;

    /* Собственный грид */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    column-gap: 5rem;
    justify-items: space-around;

    padding-top: 2vh;
    padding-bottom: 5vh;

    background-image: url("../images/photo.png");
    background-color: #2AB9DD;
}

.photography {
    grid-column: 1 / 3;

    font-size: 24px;
    line-height: 29px;
}

/* Раздел Animation */
.animation {
    /* Размещение в main */
    grid-column: 2 / 3;

    /* Собственный грид */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    column-gap: 5rem;
    justify-items: space-around;

    padding-top: 2vh;
    padding-bottom: 5vh;

    background-image: url("../images/animation.png");
    background-color: #D99101;
}

.anim {
    grid-column: 1 / 3;

    font-size: 24px;
    line-height: 29px;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh repeat(3, 1fr);
    align-items: space-around;
    justify-content: space-around;

    margin-top: 5vh;

    font-family: 'Inter', sans-serif;

    background-color: white;
}

.who {}

.me {}

.name {}

.arrow {}

.progress {}

.progress__name {}

.progress1 {}

.pen {}

.des {}

.level {}

.blue__bar {}

.progress2 {}

.camera {}

.ph {}

.green__bar {}

.progress3 {}

.line {}

.an {}

.orange__bar {}

.upcoming {}

.task {}

.discussion {}

.conv {}

.disc {}

.date {}


.download {}

.google {}

.apple {}